:root
{
   --light-gray: #ebebeb;
   --dark-gray: #bcbcbc;
   --sidebar-width: 23.33vw;
   --maroon: #80050d;
   --yellow: #efb954;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   color: black;
}
body
{
   padding: 0;
   font-family: 'Roboto', sans-serif;
   background-color: white;
   display: flex;
   flex-direction: row;
}
main
{
   transition: 0.3s;
   width: 100%;
   padding: 7vw;
   padding-top: 3vw;
   div.vres
   {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 30px;
      form.vehicle-reservation-form
      {
         padding: 1.5vw;
         width: 60vw;
         height: 44vw;
         border: 0.3vw solid #555555;
         border-radius: 2vw;
         img
         {
            position: absolute;
            height: 5vw;
            width: 5vw;
         }
         span.header
         {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            font-family: 'Times New Roman', Times, serif;  
            gap: 0.3vw;
            span#csab
            {
               font-size: 1.3vw;
            }
            span#swe
            {
               font-size: 1vw;
            }
            span#vrf
            {
               font-size: 1.4vw;
               font-weight: bold;
            }
            span#fid
            {
               font-size: 0.9vw;
            }
            input
            {
               border: none; /* Remove border */
               background: transparent; /* Remove background */
               font-size: 0.9vw;
               font-family: 'Times New Roman', Times, serif;
               outline: none; /* Remove focus outline */
               pointer-events: none; /* Prevent user interaction */
               border-radius: 0;
               padding: 0;
               width: 4.8vw;
            }
         }
         .vrf-details {
            font-size: 0.9vw;
            margin: 0.5vw;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
         }
        
         .vrf-details-column {
            display: flex;
            flex-direction: column;
            width: 18vw;
            gap: 0.5vw;
         }
         
         .input-container {
            position: relative;
            display: flex;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
            div.passenger-container
            {
               margin-top: 0.5vw;
               span
               {
                  font-weight: bold;
                  letter-spacing: 0.2vw;
                  background-color: transparent;
               }
               div#passengerList
               {
                  padding-top: 0.35vw;
                  display: flex;
                  flex-direction: column;
                  gap:0.2vw;
                  height: 11.2vw;
                  overflow-y: auto;
                  overflow-x: hidden;
                  scrollbar-width: thin;
                  input::placeholder 
                  {
                     font-style: normal;
                     font-weight: bold;
                     letter-spacing: 0.2vw;
                  }
                  button
                  {
                     background-color: transparent;
                     border: 0;
                     cursor: pointer;
                     text-align: left;
                     font-weight: bold;
                     font-size: 1.8vw;
                     font-family: 'Quicksand';
                  }
                  button:hover
                  {
                     color: var(--maroon);
                     font-weight: bold;
                     transition: 0.3s;
                  }
                  button#attachmentButton
                  {
                     transform: translateX(1.2vw);
                     margin-top: 0.3vw;
                     font-family: 'Roboto', sans-serif;
                     font-size: 0.9vw;
                     img
                     {
                        height: 1vw;
                        width: 1vw;
                        transform: translateX(-1.2vw);
                     }
                  }
               }
            }  
         }   
         .input-container input,
         .input-container select {
            font-size: 0.9vw;
            padding: 0.4vw;
            width: 18vw;
            border: 0.1vw solid #555555;
            border-radius: 0.5vw;
            outline: none;
            appearance: none; /* Removes default browser styles */
            background-color: white;
         }
      
         .input-container label {
            position: absolute;
            left: 0.5vw;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            font-size: 0.95vw;
            color: #777;
            letter-spacing: .15vw;
            font-weight: bold;
            pointer-events: none;
         }
         
         .input-container input:focus,
         .input-container input:valid,
         .input-container select:focus,
         .input-container select:valid {
               border-color: var(--maroon);
         }
         
         .input-container input:focus ~ label,
         .input-container input:valid ~ label,
         .input-container select:focus ~ label,
         .input-container select:valid ~ label {
            top: 0;
            font-size: 0.75vw;
            color: black;
            background: white;
            padding: 0 0.3vw;
         }
         .input-container input[type="date"]:not(:placeholder-shown) ~ label,
         .input-container input[type="date"]:focus ~ label,
         .input-container input[type="file"]:not(:placeholder-shown) ~ label,
         .input-container input[type="file"]:focus ~ label,
         .input-container input[type="datetime-local"]:not(:placeholder-shown) ~ label,
         .input-container input[type="datetime-local"]:focus ~ label {
            top: 0;
            font-size: 0.75vw;
            color: black;
            background: white;
            padding: 0 0.3vw;
         }
         span.address
         {
            display: flex;
            flex-direction: column;
            padding: 0.8vw;
            span 
            {
               font-weight: bold;
               font-size: 0.9vw;
               letter-spacing: 0.15vw;
               margin-bottom: 0.5vw;
            }
            textarea
            {
               font-family: 'Roboto', sans-serif;
               font-size: 1vw;
               padding: 0.4vw;
               width: 100%;
               border: 0.1vw solid #555555;
               border-radius: 0.5vw;
               outline: none;
               appearance: none; /* Removes default browser styles */
               background-color: white;
               height: 5vw;
               resize: none;
            }  
            #transportation-cost
            {
               width: 28vw;
               height: 8vw;
               border-bottom-left-radius: 0;
               border-bottom-right-radius: 0;
               border-bottom: 0;
            }
            #totalCost
            {
               border-top-right-radius: 0;
               border-top-left-radius: 0;
               width: 28vw;
            }
            label#pesoSign {
               visibility: hidden;
               position: absolute;
               font-weight: 100;
               color: black;
               transform: translateY(0.45vw);
               background-color: transparent;
               font-size: 1vw;
            }           
         }
      }   
      .subbtn-container
      {
         transform: translate(-6vw,2vw);
         display: flex;
         background-color: transparent;
         justify-content:space-between;
         pointer-events: none;
         width: 125%;
         input
         {
            pointer-events:all;
         }
         button
         {
            height: 2.5vw;
            width: 8vw;
            padding: 0 0.5vw;
            font-size: 1.5vw;
            border: 0.35vw solid transparent;
            font-weight: bold;
            border-radius: 1vw;
            cursor:pointer !important;
            transition: 0.3s;
            pointer-events: all;
         }
         button.subbtn
         {
            background-color: var(--yellow);
            border-color: var(--yellow);
            color: var(--maroon);
         }
         button.subbtn:hover
         {
            background-color: var(--maroon);
            color: var(--yellow);
         }
         button.appbtn
         {
            background-color: var(--yellow);
            border-color: var(--yellow);
            color: var(--maroon);
         }
         button.appbtn:hover
         {
            background-color: white;
            color: green;
         }
         button.rejbtn
         {
            background-color: var(--maroon);
            border-color: var(--maroon);
            color: var(--yellow);
         }
         
         button.rejbtn:hover
         {
            background-color: white;
            color: red;
         }
         .attachment 
         {
            opacity: 0; /* Makes the input invisible */
            position: absolute; /* Keeps it accessible but hidden */
            width: 0.1vw;
            height: 0.1vw;
            
         }
         .attachment-label 
         {
            display: flex;
            justify-content: left;
            align-items: center;
            pointer-events: all;
            cursor: pointer;
            font-size: 0.9vw;
            font-weight: bold;
            letter-spacing: 0.2vw;   
            transform: translateX(2vw);
         }
         .attachment-label:hover
         {
            font-size: 0.91vw;
            color:var(--maroon);
            img
            {
               height: 1.1vw;
               width: 1.1vw;
            }
         }
         .attachment-label img
         {
            height: 1vw;
            width: 1vw;
            transform: translateX(-1.5vw);         
         }
      }
   }
   div#vrespopup
   {
      display: none;
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1000;
      div.vres
      {
         form
         {
            a.closepopup
            {
               position: absolute;
               z-index: 9999;
               background-color: transparent;
               box-sizing: border-box;
               margin-left: 54.2vw;
               font-size: 1.6vw;
               text-align: center;
               height: 2vw;
               width: 2vw;
               border-radius: 100%;
               transition: 0.2s;
               transform: translate(1vw,-0.8vw);
            }  
            a.closepopup:hover
            {
               background-color: var(--maroon);
               color: white;
            }
            background: white;
            .input-container {
               position: relative;
             }
            .input-container input,
            .input-container select {
               font-size: 0.9vw;
               padding: 0.4vw;
               width: 18vw;
               border: 0.1vw solid #555555;
               border-radius: 0.5vw;
               outline: none;
               appearance: none; /* Removes default browser styles */
               background-color: white;
            }
            .input-container label {
               position: absolute;
               left: 0.5vw;
               top: 50%;
               transform: translateY(-50%);
               transition: all 0.3s ease;
               font-size: 0.95vw;
               color: #777;
               letter-spacing: .15vw;
               font-weight: bold;
               pointer-events: none;
            }
            /* Float the label up when input is focused or has content */
            .input-container input:focus + label,
            .input-container input.has-content + label,
            .input-container select:focus + label,
            .input-container select.has-content + label {
               top: 0;
               font-size: 0.75vw;
               color: black;
               background: white;
               padding: 0 0.3vw;
             }
            .input-container input:focus,
            .input-container input.has-content,
            .input-container select:focus,
            .input-container select.has-content {
            border-color: maroon;
            }
            .input-container label
            {
               position: absolute;
               left: 0.5vw;
               top: 50%;
               transform: translateY(-50%);
               transition: all 0.3s ease;
               font-size: 0.95vw;
               color: #777;
               letter-spacing: .15vw;
               font-weight: bold;
               pointer-events: none;
            }
            label#pesoSign {
               visibility: hidden;
               position: absolute;
               font-weight: 100;
               color: black;
               transform: translateY(-0.5vw);
               background-color: transparent;
               font-size: 1vw;
            }         
         }
      }
   }
   div#vrespopup:target
   {
      display: block;
      z-index: 1000;
   }
   input.search
   {
      font-size: 2.4vh;
      padding: 0.6vh 1.5vh;
      border-radius: 3vh;
      position: fixed;
      z-index: 15;
   }
   input.search::placeholder 
   {
      font-style: italic;
   }
   div.maintitle
   {
      position: fixed;
      z-index: 10;
      background-color: white;
      margin-bottom: 0.3vw;
      h1
      {
         margin: 50px 0 20px 0;
         font-size: 3.2vw;
         color: var(--maroon);
      }
      p
      {
         font-size: 1.3vw;
         font-weight: bold;
         letter-spacing: 1px;
      }
   }
   div.whitespace
   {
      width: 100%;
      z-index: 5;
      position: fixed;
      height: calc(15.2vw + 50px);
      background-color: white;
      transform: translate(-7vw,-7vw);
   }div.whitespace2
   {
      width: 100%;
      height: calc(8.2vw + 50px);
      background-color: white;
      
   }
   div.info-box
   {
      z-index: 50;
      border-bottom: 4px solid var(--dark-gray);
      margin-top: 0.1vw;
      width: 100%;
      height: 11vw;
      background-color: white;
      div.info-heading
      {
         display: flex;
         flex-direction: row;
         span.info-heading-text
         {
            display: flex;
            flex-direction: column;
            margin-left: 2vw;
            margin-top: 1vw;
            letter-spacing: 2px;
            font-size: 0.95vw;
            gap: 0.15vw;
            span.name 
            {
               font-weight: bold;
            }
            span.department
            {
               letter-spacing: 1px;
            }
            span.date 
            {
               letter-spacing: 2.5px;
            }
         }
         img
         {
            margin-top: 0.5vw;
            width: 5vw;
            height: 5vw;
            border-radius: 100%;
         }
      }
      div.pending
      {
         display: flex;
         flex-direction: row;
         position: absolute;
         gap: 0.5vw;
         right: 7vw;
         margin-top: 0.5vw;
      }
      span.time
      {
         font-size: 0.95vw;
         letter-spacing: 2px;
         font-weight: bold;
      }
      div.circle
      {
         height: 0.95vw;
         width: 0.95vw;
         border-radius: 100%;
         background-color: var(--yellow);
      }
      div.info-details 
      {
         padding: 1vw 3.5vw 0 3.5vw;
         font-size: 0.95vw;
         line-height: 1.2vw;
         display: flex;
         flex-direction: row;
         div 
         {
            display: flex;
            flex-direction: column;
            width: 100%;
            div 
            {
               display: flex;
               flex-direction: row;
               width: auto;
               div.title
               {
                  font-weight: bold;
               }
            }
         }
      }
   }
}
li
{
   list-style: none;
}
.sidebar ul {
   height: calc(100% - 17.5vw);
   scrollbar-width: none;
   scrollbar-color: #999 #f1f1f1;
   scroll-behavior: smooth;
   overflow-y: auto;
   overflow-x: hidden;
}
.sidebar {
   transition: 0.2s;
   position: sticky;
   top: 0;
   align-self: start;
   padding-top: 1.17vw;
   left: 0;
   top: 0;
   height: 100vh;
   width: 7vw;
   background-color: var(--light-gray);
   border-right: 0vw solid var(--dark-gray);
   button {
      pointer-events: all;
   }
   span {
      display: none;
   }
   a span, .dropdown-btn span {
      flex-grow: 1;
   }
   .dropdown-btn {
      width: 50%;
      margin-left: 25%;
      display: flex;
      border: 0;
      background-color: transparent;
      padding: 0.58vw;
      border-radius: 0.5vw;
      transition: ease-in-out 0.3s;
      font-size: 1.3vw;
      justify-content: center;
   }
   .dropdown-btn:hover {
      background-color: white;
      cursor: pointer;
   }
   .dropdown-container a:hover {
      background-color: white;
      border-left: 0.23vw solid #555555;

   }
   .dropdown-btn img:first-child, .icon img {
      width: 1.58vw;
      height: 1.58vw;
   }
   .dropdown-btn img:last-child {
      display: none;
      transition: 0.3s;
      width: 1.17vw;
      height: 1.17vw;
   }
   .dropdown-container {
      display: grid;
      grid-template-rows: 0fr;
      padding-left: 3.9vw;
      font-size: 1.07vw;
      transition: 0.3s;
      margin-left: -0.53vw;
      > div {
         overflow: hidden;
      }
   }
   .dropdown-container.show {
      grid-template-rows: 1fr;
   }
   .dropdown-container a {
      margin-right: 1.17vw;
      border-radius: 0 1vw 1vw 0;
      display: block;
      padding: 1.46vw 0.58vw;
      border-left: 0.23vw solid var(--dark-gray);
      transition: 0.3s;
   }
   .rotate img:last-child {
      transform: rotate(180deg);
   }
   #home {
      width: 50%;
      margin-left: 25%;
   }
   #home div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.29vw 0;
      border-radius: 0.5vw;
      padding: 0.58vw 1.46vw;
      font-size: 1.5vw;
      transition: 0.3s;
   }
   #home div:hover {
      background-color: white;
      cursor: pointer;
   }
   #home a div {
      display: flex;
      align-items: center;
      gap: 25%;
   }
   #home div img {
      width: 1.75vw;
      height: 1.75vw;
   }
   #logo {
      border: 0;
      background-color: transparent;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2vw;
      font-weight: bold;
      gap: 1.17vw;
      margin-bottom: 2.92vw;
   }
   #logo img {
      height: 4.38vw;
      width: 4.38vw;
      transition: 0.3s;
   }
   #logo span {
      color: var(--maroon);
   }
   #logout {
      margin-left: 1.17vw;
      margin-top: 1.17vw;
      display: flex;
      flex-direction: row;
      width: 16.33vw;
      align-items: center;
   }
   #profile-text {
      display: flex;
      flex-direction: column;
      width: 8.75vw;
      justify-content: center;
      padding: 0vw 0.58vw;
   }
   #name {
      font-size: 1.2vw;
      font-weight: bold;
   }
   #role {
      font-size: 1vw;
   }
   #profile {
      height: 4.38vw;
      width: 4.38vw;
      border-radius: 100%;
   }
   #logout button {
      height: 4.08vw;
      width: 3.5vw;
      padding: 0.58vw 0.29vw;
      border: none;
      background-color: transparent;
      border-radius: 10px;
      transition: 0.3s;
      cursor: pointer;
   }
   #logout button:hover {
      background-color: white;
   }
   #logout-img {
      display: none;
      height: 2.92vw;
      width: 2.92vw;
   }
}
.sidebar.active {
   position: sticky;
   top: 0;
   align-self: start;
   padding: 1.17vw;
   left: 0;
   top: 0;
   height: 100vh;
   width: var(--sidebar-width);
   background-color: var(--light-gray);

   span, a {
      display: inline;
      overflow-wrap: break-word;
   }
   a span, .dropdown-btn span {
      flex-grow: 1;
   }
   .dropdown-btn {
      width: 90%;
      min-width: 12.83vw;
      display: flex;
      justify-content: space-between;
      border: 0;
      background-color: transparent;
      padding-top: 0.58vw;
      padding-bottom: 0.58vw;
      padding-left: 0.58vw;
      padding-right: 0.58vw;
      border-radius: 0.5vw;
      margin-left: 0.88vw;
      transition: 0.3s;
      font-size: 1.3vw;
      align-items: center;
   }
   .dropdown-btn:hover {
      background-color: white;
      cursor: pointer;
   }
   .dropdown-container {
      display: grid;
      grid-template-rows: 0fr;
      padding-left: 1.75vw;
      font-size: 1.07vw;
      transition: 0.3s;
      margin-left: 0.35vw;
      > div {
         overflow: hidden;
      }
   }
   .dropdown-container.show {
      grid-template-rows: 1fr;
   }
   .dropdown-container a {
      margin-right: 1.17vw;
      border-radius: 0 1vw 1vw 0;
      display: block;
      padding: 1.46vw 0.58vw;
      border-left: 0.23vw solid var(--dark-gray);
      transition: 0.3s;
   }
   .dropdown-container a:hover {
      background-color: white;
      border-left: 0.23vw solid #555555;
   }
   .dropdown-btn img:first-child, .icon img {
      width: 1.58vw;
      height: 1.58vw;
   }
   .dropdown-btn img:last-child {
      display: block;
      transition: 0.3s;
      width: 1.17vw;
      height: 1.17vw;
   }
   .rotate img:last-child {
      transform: rotate(180deg);
   }
   #home {
      width: 100%;
      margin-left: 0;
   }
   #home div {
      display: flex;
      align-items: center;
      margin: 0.29vw 0;
      border-radius: 50vw;
      padding: 0.58vw 1.46vw;
      font-size: 1.5vw;
   }
   #home div:hover {
      background-color: white;
      cursor: pointer;
   }
   #home div a {
      left: 1.17vw;
      display: flex;
      gap: 30px;
      font-weight: bold;
   }
   #home div img {
      width: 1.75vw;
      height: 1.75vw;
   }
   #logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2vw;
      font-weight: bold;
      gap: 1.17vw;
      margin-bottom: 2.92vw;
   }
   #logo img {
      width: 5.83vw;
      height: 5.83vw;
   }
   #logo span {
      color: var(--maroon);
   }
   #logout {
      margin-left: 0;
      transition: 0.3s;
   }
   #logout-img {
      display: block;
      height: 2.92vw;
      width: 2.92vw;
   }
}
#dateFiled
{
   border-color: var(--maroon);
}

#vehiclepopup
{
   display: none;
   position: fixed;
   inset:0;
   justify-content: center;
   align-items: center;
   .popupcontainer
   {
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
      padding: 1vw;
   }
}
#vehiclepopup:target
{
   display: flex;
   z-index: 1000;
}



.burger-menu {
   display: block;
}

/* Hide burger on large screens */
@media (min-width: 992px) {
   .burger-menu {
       display: none;
   }
}