:root
{
   --light-gray: #ebebeb;
   --dark-gray: #bcbcbc;
   --sidebar-width: 400px;
   --maroon: #80050d;
   --yellow: #efb954;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   color: black;
}
body
{
   font-family: 'Roboto', sans-serif;
   background-color: white;
   display: flex;
   flex-direction: row;
}
main
{
   transition: 0.3s;
   width: 100%;
   padding: 70px;
   div.vres
   {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: -1.5vw;
      form.vehicle-reservation-form
      {
         padding: 1.5vw;
         padding-bottom: ;
         width: 60vw;
         height: 44vw;
         border: 0.3vw solid #555555;
         border-radius: 20px;
         img
         {
            position: fixed;
            height: 5vw;
            width: 5vw;
         }
         span.header
         {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            font-family: 'Times New Roman', Times, serif;  
            gap: 0.3vw;
            span#csab
            {
               font-size: 1.3vw;
            }
            span#swe
            {
               font-size: 1vw;
            }
            span#vrf
            {
               font-size: 1.4vw;
               font-weight: bold;
            }
            span#fid
            {
               font-size: 0.9vw;
            }
            input
            {
               border: none; /* Remove border */
               background: transparent; /* Remove background */
               font-size: 0.9vw;
               font-family: 'Times New Roman', Times, serif;
               outline: none; /* Remove focus outline */
               pointer-events: none; /* Prevent user interaction */
               border-radius: 0;
               padding: 0;
               width: 4.8vw;
            }
         }
         .vrf-details {
            font-size: 0.9vw;
            margin: 0.5vw;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
         }
        
         .vrf-details-column {
            display: flex;
            flex-direction: column;
            width: 18vw;
            gap: 0.5vw;
         }
         
         .input-container {
            position: relative;
            display: flex;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
            div.passenger-container
            {
               margin-top: 0.5vw;
               span
               {
                  font-weight: bold;
                  letter-spacing: 0.2vw;
                  background-color: transparent;
               }
               div#passengerList
               {
                  padding-top: 0.35vw;
                  display: flex;
                  flex-direction: column;
                  gap:0.2vw;
                  height: 11.2vw;
                  overflow-y: auto;
                  overflow-x: hidden;
                  scrollbar-width: thin;
                  input::placeholder 
                  {
                     font-style: normal;
                     font-weight: bold;
                     letter-spacing: 0.2vw;
                  }
                  button
                  {
                     background-color: transparent;
                     border: 0;
                     cursor: pointer;
                     text-align: left;
                     color:#444;
                     font-weight: bold;
                     font-size: 1.8vw;
                     font-family: 'Quicksand';
                  }
                  button:hover
                  {
                     color: var(--maroon);
                     font-weight: bold;
                     transition: 0.3s;
                  }
                  button#attachmentButton
                  {
                     transform: translateX(1.2vw);
                     margin-top: 0.3vw;
                     font-family: 'Roboto', sans-serif;
                     font-size: 0.9vw;
                     img
                     {
                        height: 1vw;
                        width: 1vw;
                        transform: translateX(-1.2vw);
                     }
                  }
               }
            }  
         }   
         .input-container input,
         .input-container select {
            font-size: 0.9vw;
            padding: 0.4vw;
            width: 18vw;
            border: 1px solid #555555;
            border-radius: 0.5vw;
            outline: none;
            appearance: none; /* Removes default browser styles */
            background-color: white;
         }
      
         .input-container label {
            position: absolute;
            left: 0.5vw;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            font-size: 0.95vw;
            color: #777;
            letter-spacing: .15vw;
            font-weight: bold;
            pointer-events: none;
         }
         
         .input-container input:focus,
         .input-container input:valid,
         .input-container select:focus,
         .input-container select:valid {
               border-color: var(--maroon);
         }
         
         .input-container input:focus ~ label,
         .input-container input:valid ~ label,
         .input-container select:focus ~ label,
         .input-container select:valid ~ label {
            top: 0;
            font-size: 0.75vw;
            color: black;
            background: white;
            padding: 0 0.3vw;
         }
         .input-container input[type="date"]:not(:placeholder-shown) ~ label,
         .input-container input[type="date"]:focus ~ label,
         .input-container input[type="file"]:not(:placeholder-shown) ~ label,
         .input-container input[type="file"]:focus ~ label,
         .input-container input[type="datetime-local"]:not(:placeholder-shown) ~ label,
         .input-container input[type="datetime-local"]:focus ~ label {
            top: 0;
            font-size: 0.75vw;
            color: black;
            background: white;
            padding: 0 0.3vw;
         }
         span.address
         {
            display: flex;
            flex-direction: column;
            padding: 0.8vw;
            span 
            {
               font-weight: bold;
               font-size: 0.9vw;
               letter-spacing: 0.15vw;
               margin-bottom: 0.5vw;
            }
            textarea
            {
               font-family: 'Roboto', sans-serif;
               font-size: 1vw;
               padding: 0.4vw;
               width: 100%;
               border: 1px solid #555555;
               border-radius: 0.5vw;
               outline: none;
               appearance: none; /* Removes default browser styles */
               background-color: white;
               height: 5vw;
               resize: none;
            }  
            #transportation-cost
            {
               width: 28vw;
               height: 10vw;
            }
         }
      }   
      .subbtn-container
      {
         transform: translateY(2vw);
         display: flex;
         background-color: transparent;
         justify-content:space-between;
         pointer-events: none;
         input
         {
            pointer-events:all;
         }
         button
         {
            height: 2.5vw;
            width: 8vw;
            padding: 0 0.5vw;
            font-size: 1.5vw;
            border: 0.35vw solid transparent;
            font-weight: bold;
            border-radius: 1vw;
            cursor:pointer !important;
            transition: 0.3s;
            pointer-events: all;
         }
         button.subbtn
         {
            background-color: var(--yellow);
            border-color: var(--yellow);
            color: var(--maroon);
         }
         button.subbtn:hover
         {
            background-color: var(--maroon);
            color: var(--yellow);
         }
         button.appbtn
         {
            background-color: var(--yellow);
            border-color: var(--yellow);
            color: var(--maroon);
         }
         button.appbtn:hover
         {
            background-color: white;
            color: green;
         }
         button.rejbtn
         {
            background-color: var(--maroon);
            border-color: var(--maroon);
            color: var(--yellow);
         }
         
         button.rejbtn:hover
         {
            background-color: white;
            color: red;
         }
         .attachment 
         {
            opacity: 0; /* Makes the input invisible */
            position: absolute; /* Keeps it accessible but hidden */
            width: 1px;
            height: 1px;
            
         }
         .attachment-label 
         {
            display: flex;
            justify-content: left;
            align-items: center;
            pointer-events: all;
            cursor: pointer;
            font-size: 0.9vw;
            font-weight: bold;
            letter-spacing: 0.2vw;   
            transform: translateX(2vw);
         }
         .attachment-label:hover
         {
            font-size: 0.91vw;
            color:var(--maroon);
            img
            {
               height: 1.1vw;
               width: 1.1vw;
            }
         }
         .attachment-label img
         {
            height: 1vw;
            width: 1vw;
            transform: translateX(-1.5vw);         
         }
      }
   }
   input
   {
      font-size: 2.4vh;
      padding: 0.6vh 1.5vh;
      border-radius: 3vh;
   }
   input::placeholder 
   {
      font-style: italic;
   }
   div.maintitle
   {
      margin-bottom: 30px;
      h1
      {
         margin: 50px 0 20px 0;
         font-size: 3.2vw;
         color: var(--maroon);
      }
      p
      {
         font-size: 1.3vw;
         font-weight: bold;
         letter-spacing: 1px;
      }
   }
   div.info-box
   {
      border-bottom: 4px solid var(--dark-gray);
      margin-top: 0.1vw;
      width: 100%;
      height: 11vw;
      div.info-heading
      {
         display: flex;
         flex-direction: row;
         span.info-heading-text
         {
            display: flex;
            flex-direction: column;
            margin-left: 2vw;
            margin-top: 0.5vw;
            letter-spacing: 2px;
            font-size: 0.95vw;
            gap: 0.15vw;
            span.name 
            {
               font-weight: bold;
            }
            span.department
            {
               letter-spacing: 1px;
            }
            span.date 
            {
               letter-spacing: 2.5px;
            }
         }
         img
         {
            width: 5vw;
            height: 5vw;
            border-radius: 100%;
         }
      }
      span.time
      {
         position: fixed;
         right: 130px;
         font-size: 0.95vw;
         letter-spacing: 2px;
         font-weight: bold;
      }
      div.circle
      {
         position: fixed;
         right: 105px;
         height: 0.95vw;
         width: 0.95vw;
         border-radius: 100%;
         background-color: var(--yellow);
      }
      p.info-details 
      {
         padding: 20px 35px 0 35px;
         font-size: 0.95vw;
         text-align: justify;
         line-height: 1.2vw;
      }
   }
}
li
{
   list-style: none;
}
.sidebar ul
{  
   height: calc(100% - 300px);
   scrollbar-width: none; /* Firefox */
   scrollbar-color: #999 #f1f1f1; /* Firefox */
   scroll-behavior: smooth;
   overflow-y: auto;
   overflow-x: hidden;
}
.sidebar
{
   
   position: sticky;
   top: 0;
   align-self: start;
   padding-top: 20px;
   left: 0;
   top: 0;
   height: 100vh;
   width: 120px;
   background-color: var(--light-gray);
   transition: 0.3s;
   border-right: 0px solid var(--dark-gray);

   span{
      display: none;
   }
   a span, .dropdown-btn span
   {
      flex-grow: 1;
   }
   .dropdown-btn
   {
      width: 50%;
      margin-left: 25%;
      display: flex;
      border: 0;
      background-color: transparent;
      padding: 10px;
      border-radius: 0.5em;
      transition: ease-in-out 0.3s;
      font-size: 1.3rem;
      justify-content: center;
   }
   .dropdown-btn:hover
   {
      background-color: white;
      cursor: pointer;
   }
   .dropdown-container a:hover
   {
      background-color: white;
      border-left: 4px solid #555555;
   }
   .dropdown-btn img:first-child,.icon img
   {
      width: 27px;
      height: 27px;
   }
   .dropdown-btn img:last-child 
   {
      display:none;
      transition: 0.3s;
      width: 20px;
      height: 20px;
   }
   .dropdown-container
   {
      display: grid;
      grid-template-rows: 0fr;
      padding-left: 3em;
      font-size: 1.07rem;
      transition: 0.3s;
      margin-left: -0.9em;
      > div{
         overflow: hidden;
      }
   }
   .dropdown-container.show
   {
      grid-template-rows: 1fr;
   }
   .dropdown-container a
   {
      margin-right: 2em;
      border-radius: 0 1rem 1rem 0;
      display: block;
      padding: 25px 10px;
      border-left: 4px solid var(--dark-gray);
      transition: 0.3s;
   }
   .rotate img:last-child
   {
      transform: rotate(180deg);
   }
   #home
   {
     width: 50%;
     margin-left: 25%;
   }
   #home div
   {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px 0;
      border-radius: 0.5em;
      padding: 10px 25px;
      font-size: 1.5rem;
      transition: 0.3s;
   }
   #home div:hover
   {
      background-color: white;
      cursor: pointer;
   }
   #home  a div
   {
      display: flex;
      align-items: center;
      gap: 25%;
   }
   #home div img
   {
      width: 30px;
      height: 30px;
   }
   #logo
   {
      border: 0;
      background-color: transparent;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      gap:20px;
      margin-bottom: 50px;
   }
   #logo img
   {
      height: 75px;
      width: 75px;
      transition: 0.3s;
   }
   #logo span
   {
      color: var(--maroon);
   }
   #logout
   {
      margin-left: 20px;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      width: 280px;
      align-items: center;
   }
   #profile-text
   {
      display: flex;
      flex-direction: column;
      width: 150px;
      justify-content: center;
      padding: 0px 10px;
   }
   #name
   {
      font-size: 1.2rem;
      font-weight: bold;
   }
   #role
   {
      font-size: 1rem;
   }
   #profile
   {
      height: 75px;
      width: 75px;
      border-radius: 100%;
   }
   #logout button
   {
      height: 70px;
      width: 60px;
      padding: 10px 5px;
      border: none;
      background-color: transparent;
      border-radius: 10px;
      transition: 0.3s;
      cursor: pointer;
   }
   #logout button:hover
   {
      background-color: white;
   }
   #logout-img
   {
      display: none;
      height: 50px;
      width: 50px;
   }
}
.sidebar.active
{
   position: sticky;
   top: 0;
   align-self: start;
   padding: 20px;
   left: 0;
   top: 0;
   height: 100vh;
   width: var(--sidebar-width);
   background-color: var(--light-gray);
   transition: ease-in-out 0.3s;
    
   span, a
   {
      display:inline;
      overflow-wrap: break-word;
   }
   a span, .dropdown-btn span
   {
      flex-grow: 1;
   }
   .dropdown-btn
   {
      width: 90%;
      min-width: 220px;
      display: flex;
      justify-content: space-between;
      border: 0;
      background-color: transparent;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 0.5em;
      margin-left: 15px;
      transition: 0.3s;
      font-size: 1.3rem;
      align-items: center;
   }
   .dropdown-btn:hover
   {
      background-color: white;
      cursor: pointer;
   }
   .dropdown-container
   {
      display: grid;
      grid-template-rows: 0fr;
      padding-left: 3em;
      font-size: 1.07rem;
      transition: 0.3s;
      margin-left: -0.9em;
      > div{
         overflow: hidden;
      }
   }
   .dropdown-container.show
   {
      grid-template-rows: 1fr;
   }
   .dropdown-container a
   {
      margin-right: 2em;
      border-radius: 0 1rem 1rem 0;
      display: block;
      padding: 25px 10px;
      border-left: 4px solid var(--dark-gray);
      transition: 0.3s;
   }
   .dropdown-container a:hover
   {
      background-color: white;
      border-left: 4px solid #555555;
   }
   .dropdown-btn img:first-child,.icon img
   {
      width: 27px;
      height: 27px;
   }
   .dropdown-btn img:last-child 
   {
      display:block;
      transition: 0.3s;
      width: 20px;
      height: 20px;
   }
   .rotate img:last-child
   {
      transform: rotate(180deg);
   }
   #home
   {
     width: 100%;
     margin-left: 0;
   }
   #home div
   {
      display: flex;
      align-items: center;
      margin: 5px 0;
      border-radius: 50px;
      padding: 10px 25px;
      font-size: 1.5rem;
   }
   #home div:hover
   {
      background-color: white;
      cursor: pointer;
   }
   #home div a
   {
      left: 20px;
      display: flex;
      gap : 30px;
      font-weight: bold;
   }
   #home div img
   {
      width: 30px;
      height: 30px;
   }
   #logo
   {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      gap:20px;
      margin-bottom: 50px;
   }
   #logo img
   {
      width: 100px;
      height: 100px;
   }
   #logo span
   {
      color: var(--maroon);
   }
   #logout
   {
      margin-left: 0;
      transition: 0.3s;
   }
   #logout-img
   {
      display:block;
      height: 50px;
      width: 50px;
   }
}
